<div id="index_task_lists">

  <h1>My Lists</h1>
    <%=link_to "Create Task List", new_task_list_path%>

   <% @task_lists.each do |task_list| %>

      <section class="task-list">
        <button class="tl-item">+</button>
        <h1 class="tl-item"><%= task_list.name%></h1>
        <div class="tl-item"><%= link_to "Edit", edit_task_list_path(task_list)%></div>
        <div class="tl-item"><%= link_to "New Task", new_task_list_task_path(task_list)%></div>

        <%task_list.tasks.each do |task|%>
          <div class="task" data-attribute-date="<%=(task.due_date - Date.today).to_i%>">
            <%=task.description%> - <%=(task.due_date - Date.today).to_i%> days
            <%= link_to "Delete", [task_list, task],{ :method => :delete, :confirm => "Really?", :class => "delete_button"} %>
          </div>
        <%end%>





        <!--< %task_list.tasks.each do |task|%>-->
          <!--<div class="task"  >-->
            <!--<div class="description">-->
              <!--< %=task.description%> --->
            <!--</div>-->
            <!--<div class="due-date">-->
             <!--<p>< %=(task.due_date - Date.today).to_i%> days</p>-->
            <!--</div>-->
              <!--< %= link_to "Delete", [task_list, task],{ :method => :delete, :confirm => "Really?", :class => "delete_button"} %>-->
          <!--</div>-->
        <!--< %end%>-->




      </section>

    <% end %>
</div>