<div id="new_task_lists">

  <%@new_task.errors.each_with_index  do |message, i|%>
    <li><%=message[1]%></li>
  <%end%>

  <%= form_for @new_task, url: "/task_lists" do |f|%>
  <div>
    <%=f.label :name, "Title"%>
    <%=f.text_field :name%>
  </div>
  <div>
  <%=f.submit "Create Task List"%>
  </div>
  <%end%>


</div>